h1{
    padding: 20px 0;
    font-style: bold;
    font-size: 64px;
}

h4{
    color: #D7D7D7;
    padding-bottom: 15px;
}


.username,.password{
    position: relative;
    width: 100%;
    z-index: 1;
}

.password{
    padding-top: 10px;
}

.input{
    font-size: 15px;
    line-height: 1.2;
    color: #333333;
    display: block;
    width: 100%;
    background: #E8E8E8;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 53px;
    outline: none;
    border: none;
}

.logo-input{   
    font-size: 15px;
    color: #999999;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 25px;
    pointer-events: none;
}

.password .logo-input{
    padding-top: 8px;
}

.submit{
    padding-top: 15px;
}

.submit .btn{
    background-color:#373737 ;
    padding: 3% 12%;
    border: none;
}

.signup{
    padding-top: 10px;
}

.signup .btn{
    background-color: transparent;
    padding: 3% 10%;
    border: none;
    text-decoration: none;
    color: white;   
}