<div class="card border-0">
    <div class="card-body">
        <div class="row">
            <section class="col align-self-center" >
                <h4>Account</h4>
            </section>
            <section class="col d-flex flex-row-reverse">
                <a class="float-right" href="#"><img src="#" alt="Plus"></a>
            </section>
        </div>
        <table class="table table-borderless">
            <thead class="tablehead">
                <tr class="headcolor">
                    <th scope="col">Account</th>
                    <th scope="col">Name</th>
                    <th scope="col">Password</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="tablebody">
                <tr class="trbody">
                    <th id="id" scope="row"><i class="fab fa-twitter"></i></th>
                    <td scope="row">Liore</td>
                    <td scope="row">
                        <div class=" rounded-2 background">
                            <div class="row">
                              <div class="col-auto">
                                <div class="d-flex justify-content-center h-100 flex-column">
                                  <div><i class="fas fa-eye"></i></div>
                                </div>
                              </div>
                              <div class="col">
                                <div class="d-flex justify-content-center h-100 flex-column">
                                   <div class="pass"><label>*************</label></div>
                                </div>
                              </div>
                              <div class="col-auto">
                                <div class="d-flex justify-content-center h-100 flex-column">
                                  <div><a href="#"><i class="far fa-clipboard"></i></a></div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </td>
                    <td scope="row" class="isi"><a href="#"><i class="far fa-sticky-note"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
